
*.csv
data.zip
Assignments/USPS_all.mat
Term-Project/progress-report.docx
Term-Project/~$ogress-report.docx
Term-Project/interim-layout.docx
Assignments/model.p
Assignments/.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
Assignments/.ipynb_checkpoints/Assignment 2-checkpoint.ipynb
Assignments/.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
Assignments/mnist_model.p
Assignments/mnist_model_complex.p
Assignments/modelstate.p
Assignments/runs/
Assignments/samples/
Assignments/.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
Term-Project/merged.zip
ABS-database/securities.db
